{% extends "pta/base.html" %}

{% block title %}Collaborate! dashboard{% endblock %}

{% block content %}
    <div id="mainNavigationRow">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li class="active dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">User Info
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'homepage' %}">View User Info</a></li>
                        <li><a href="#">Edit User Info</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'homework' %}">Homework</a></li>
                <li><a href="{% url 'todo' %}">To-Do List</a></li>
                <li><a href="#">WishList</a></li>
                <li><a href="#">Message Board</a></li>
                <li><a href="{% url 'meettheteam' %}">Meet the Team</a></li>
            </ul>
        </nav>
    </div>  <!-- end mainNavigationRow -->

    <div class="panel panel-info">
        <div class="panel-heading">
            User
        </div>
        <div class="panel-body">
            <p>Username: {{ user }}</p>
            <p>First Name: {{ user.first_name }}</p>
            <p>Last Name: {{ user.last_name }}</p>
            <p>Email Address: {{ user.email }}</p>
            <p><a href="#">Edit User Info</a></p>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            Classroom Info
        </div>
        <div class="panel-body">
            {% if teacher %}
                <p>Teacher's Name: {{ teacher }}</p>
                <p>Teacher's Username: {{ teacher.user }}</p>
                <hr/>
                <p>{{ teacher.classinfo }}</p>
            {% else %}
                <p>No classroom info to display for this user.</p>
            {% endif %}
        </div>
    </div>

    {% if parentlist %}
        <div class="panel panel-info">
            <div class="panel-heading">
                Classlist
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>username</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for par in parentlist %}
                        <tr>
                            <td>{{ par }}</td>
                            <td>{{ par.user.first_name }}</td>
                            <td>{{ par.user.last_name }}</td>
                            <td>{{ par.user.email }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

{% endblock %}
