{% extends "pta/base.html" %}

{% block title %}Collaborate! dashboard{% endblock %}

{% block content %}
    <div id="mainNavigationRow">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">User Info</a></li>
                <li><a href="#">Homework</a></li>
                <li><a href="#">To-Do List</a></li>
                <li><a href="#">WishList</a></li>
                <li><a href="#">Message Board</a></li>
                <li><a href="{% url 'meettheteam' %}">Meet the Team</a></li>
            </ul>
        </nav>
    </div>  <!-- end mainNavigationRow -->

    <p>Username: {{ user }}</p>
    {% if parentalunit %}
        <p>Teacher: {{ parentalunit.teacher }}</p>
        <p>Classroom info: {{ parentalunit.teacher.classinfo }}</p>
    {% elif teacher %}
        <p>Classroom info: {{ teacher.classinfo }}</p>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editClassinfoModal">Edit class info</button>

        <!-- edit Modal -->
        <div id="editClassinfoModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>


    {% else %}
        <p>No classroom info to display for this user.</p>
    {% endif %}

{% endblock %}
